<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TOD-evdb1/src-test/tod/impl/evdb1/test/TestHierarchicalIndex.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tod.impl.evdb1.test.TestHierarchicalIndex"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TOD-evdb1"/>
</launchConfiguration>
